/*

33. Medidas.

En css hay dos parametros que debemos aprender:

Las medidas absolutas,
Las medidas relativas.

Cuando hablamos de medidas absolutas vemos que se usa pixeles, tamaños de fuentes, width, heigth, esas medidas no van a cambiar sin importar el tamaño de la pantalla donde se ve el proyecto.

Tambien existen medidas relativas, son diferentes porque si van a cambiar en funcion de la pantalla que veamos el proyecto. Tenemos por decir como medida relativa el %. El 30% de una pantalla de ordenador es muy diferente al 30% de un movil. El tamaño varia en funcion del dispositivo donde sea visto.

A parte del % tambien tenemos algo que se le conoce como:

(em) que significa elemento
(rem) que significa root elemento,

En referente a el ancho(width) y el alto(heigth), tambien tenemos:

max-width.
min-width.

max-heigth.
min-heigth.

Tambien tenemos una relativamente nuevas que son:

(vh) que significa viewport heigth
(vw) que significa viewport width

Un ejemplo de medida absoluta:

    <main>
        <h2>Medida absoluta</h2>
        <p class="absoluta">Hola soy un texto de ejemplo</p>
        <p class="relativa">Hola soy un texto de ejemplo</p>
    </main>

    .absoluta {
    font-size: 18px;
}

Si analizamos con el inspector al colocar la unidad en pixeles independiente de la pantalla que veamos siempre vamos a tener ese valor. Su tamaño no varia.

Ahora si aplicamos una medida en %:

    .relativa {
        font-size:50%;
    }

El tamaño de la fuente esta heredando de nuestro elemento html, para este caso es 16px; al ser 50% sera de 8px.

Vemos lo que nos muestra el inspector antes de aplicar el estilo en %:

display:block;
font-size:16px;
height:18.4px;
margin-block-end:16px;
margin-block-start:16px;
margin-inline-end:0px;
margin-inline-start:0px;
width:359.2px;

Pero el % no solo aplica para las fuentes, tambien aplica para el width y el heigth:

        <section class="medida-pixel">
            <h2>Medida absoluta y relativa width y heigth</h2>
            <p>Soy un parrafo ejemplo para mostrar el width y el heigth</p>
        </section>
        <section class="medida-porcentaje">
            <h2>Medida absoluta y relativa width y heigth</h2>
            <p>Soy un parrafo ejemplo para mostrar el width y el heigth</p>
        </section>

Ahora veremos el width y el heigth
.medida-pixel {
    background-color: sandybrown;
    width:400px;
    height:400px;
}

.medida-porcentaje {
    background-color: seagreen;
    width: 100%;
    height: 100%;
}

Como vemos en el primer caso el ancho y alto al tener valor fijo en pixel ocupa ese espacio y no se ajusta al tamaño de la pantaña.

En el segundo caso independiente de la pantalla este se ajusta a ella.

NOTA: Evitar siempre que se genere scroll horizontal, como buenas practicas es lo que se debe hacer.
*/

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Medida absoluta */
.absoluta {
    font-size: 18px;
}

/* Medida relativa en % */
.relativa {
    font-size: 50%;
}

/* Ahora veremos el width y el heigth */
.medida-pixel {
    background-color: sandybrown;
    width:400px;
    height:400px;
}

.medida-porcentaje {
    background-color: seagreen;
    width: 100%;
    height: 100%;
}