/*

Veremos 2 de los 3 estandares para generar productos web. HTML y CSS.

Instructor: Diego Degranda
Twitter: @Degranda

HTML se encarga de darle estructura a la informacion que vamos a compartir con los usuarios.

CSS lenguaje que se encarga de darle todos los estilos e interaccion a esa informacion.

Dos recursos importantes via web que es bueno revisar:

https://htmlreference.io/
https://cssreference.io/


*/